
{% extends "../base.html" %}
{% load static %}

{% block title %} 
Créer le Post
{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block content %}
<br><br>
<center>
<div class="row justify-content-center" style="width: 50%; background-color: beige;">
    <div class="col-xs-6"> 
        <h1 class="display-1">Créer le Post
        </h1>
        <div class="custom-form-style">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
</center>

{% endblock %}