
{% extends "../base.html" %}
{% load static %}

{% block title %} 
Modifier le post : {{ post.title }}
{% endblock title %}
{% block styles %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'magasin/form.css'%}">
{% endblock styles %}
{% block content %}
<h1 class="display-1">Modifier le post : {{ post.title }}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg">Enregistrer les modifications</button>
</form>
{% endblock %}

